.findstudent__filters{
    width: 391px;
    height: 600px;
    border-radius: 10px;
    border-image: linear-gradient(#CCCCCC, #FFFFFF) 30;
    border-style:dotted;
    box-shadow: 2px 2px 4px 4px rgba(204, 204, 204, 0.7);
}
.findstudent__container{
    margin: 0 auto;
    width: 1200px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.findstudent__content {
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
    width: 1200px;
    padding: 50px 0;
}

.findstudent__title{
    margin-top: 66px;
    font-size: 40px;
    font-weight: 700;
}

.ft_text{
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-left: 21px;
}

.search__input{
    margin-left: 19px;
    width: 353px;
    height: 35px;
    padding: 0 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #a2a2a2;
}

.budget__search{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    padding-bottom: 10px;
    margin-left: 19px;
}

.budget__input{

    width: 172px;
    height: 35px;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #a2a2a2;
}

.categories div{
    display: block;
}

/* search styles end */ 

.labelbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 21px;
}

