.createtask {
    margin-top: 70px;
    padding-bottom: 50px;
    font-family: "Montserrat", sand-serif;
}

.createtask__container {
    margin: 0 auto;
    width: 1200px;
    height: 775px;
}

.createtask__title {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 40px;
}

.createtask__content {
    width: 1200px;
    height: 700px;
    background-color: white;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px 30px;
    overflow: hidden;
}

.createtask__inputs {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.createtask__input {
    width: 550px;
    height: 50px;
    border: 1px solid rgba(162,162,162,0.4);
    border-radius: 10px;
    outline: none;
    padding: 0 15px;
}

.createtask__inputs--item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.createtask__payment {
    display: flex;
    gap: 20px;
}

.createtask__input--payment {
    
    width: 265px;
    height: 50px;
    border: 1px solid rgba(162,162,162,0.4);
    border-radius: 10px;
    outline: none;
    padding: 0 15px;
}

.input__method {
    cursor: pointer;
}

.createtask__payment--item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.createtask__about {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.createtask__textarea {
    margin: 0 auto;
    width: 1140px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgba(162,162,162,0.4);
    outline: none;
    padding: 10px 10px;

}

.createtask__button {
    margin-top: 15px;
    width: 300px;
    height: 50px;
    background-color: #ff8800;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.createtask__button:hover {
    background-color: white;
    border: 1px solid #ff8800;
    color: #ff8800;
}

.createtask__category--burger {
    position: absolute;
    width: 60%;
    height: auto;
    background-color: white;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80px;
    border-radius: 10px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    overflow: hidden;
}

.category__item {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.category__item:hover {
    color: #a2A2A2;
}

.input__category {
    cursor: pointer;
}

.rub {
    position: fixed;
}